<div class="card justify-content-center">
    <p-card header="Add Category" subheader="Add a new Category here">
        <div class="p-gird">
            <div class="p-col-12">
                <form>
                    <span class="p-float-label">
                        <input pInputText id="name"  />
                        <label htmlFor="name">Name</label>
                    </span>
                    <p-colorPicker id="color" ></p-colorPicker>
                    <label htmlFor="color">Color</label>
                </form>
            </div>
        </div>
    </p-card>
</div>