<div class="admin-sidebar">
  <div class="logo">
    <img src="assets/images/logo.png" alt="" srcset="">
  </div>
  <div class="nav">
    <ul class="nav-bar">
      <li class="nav-link">
        <a routerLinkActive="active-nav-link" routerLink="/dashboard"><i class="pi pi-home">&nbsp;</i>Dashboard</a>
      </li>
      <li class="nav-link">
        <a routerLinkActive="active-nav-link" routerLink="/categories"><i class="pi pi-list">&nbsp;</i>Categories</a>
      </li>
      <li class="nav-link">
        <a routerLinkActive="active-nav-link" routerLink="/products"><i class="pi pi-briefcase">&nbsp;</i>Products</a>
      </li>
      <li class="nav-link">
        <a routerLinkActive="active-nav-link" routerLink="/orders"><i class="pi pi-shopping-cart">&nbsp;</i>Orders</a>
      </li>
      <li class="nav-link">
        <a routerLinkActive="active-nav-link" routerLink="/users"><i class="pi pi-users">&nbsp;</i>Users</a>
      </li>
      <li class="nav-link">
        <a class="logout" routerLinkActive="active-nav-link" routerLink="/logout"><i class="pi pi-sign-out">&nbsp;</i>Logout</a>
      </li>
    </ul>
  </div>
</div>